.container {
  background-color: #d1411e;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
}
.arrowContainer {
  bottom: 0;
  cursor: pointer;
  height: 12%;
  margin: auto;
  position: absolute;
  top: 0;
  width: 6%;

  z-index: 2;
}
.wrapper {
  display: flex;
  height: 100%;
  transition: all 1.5s ease-in-out;
  width: 500vw;
}
.imgContainer {
  height: 100%;
  position: relative;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .container {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 300px;
  }
  .arrowContainer {
    width: 10%;
    height: 15%;
  }
}
